/* .modal-Zindex {
    
} */

/* .modal-content {
    position: absolute !important;
    z-index: 2999 !important;
} */
.modal-content .form-control {
    border: 1px solid  #e6e5e5;
}

::ng-deep .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ::ng-deep .vertical-center-modal .ant-modal {
    top: 0;
  }
