<div class="container">
  <div class="row  align-items-center justify-content-between">
    <div class="col-11 col-sm-12 page-title">
      <h3>OPD Settings</h3>
      <p>Add and View OPD Doctor</p>
    </div>
    <div class="col text-right ">
      <div id="date_time" class="dateTime"></div>
    </div>
  </div>
  <div class="row align-items-center justify-content-between">
    <div class="col-xl-16">
      <form #fm="ngForm">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Add New OPD Doctor</h5>
          </div>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-md-10">
                <div class="row">
                  <div class="col-lg-8 col-md-8">
                    <div class="form-group" [class.has-error]="!(OPDControl.valid || (OPDControl.pristine && !fm.submitted)) || (OPDControl.errors && (OPDControl.dirty || OPDControl.touched ))">
                      <label>OPD</label>
                      <select class="form-control form-control-danger" name="CategoryControl" data-live-search="true"
                        (change)="selectOpdName()" required [(ngModel)]="opdDoctor.opdId" #OPDControl="ngModel"
                        tabindex="-1" aria-hidden="true">
                        <option *ngFor="let opd of AllOPDs" [value]="opd.id">{{opd.name}}</option>
                      </select>
                      <div [hidden]="OPDControl.valid || (OPDControl.pristine && !fm.submitted) && ((OPDControl.errors && (OPDControl.dirty || OPDControl.touched )) == false)"
                        class="form-control-feedback">
                        <div [hidden]="!OPDControl.errors?.required" class="form-control-feedback">
                          Error: Please Enter Type
                        </div>
                        <div [hidden]="!OPDControl.errors?.pattern" class="form-control-feedback">
                          Error: Alphabets Only
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="col-lg-8 col-md-8">
                    <div class="form-group" [class.has-error]="!(DoctorControl.valid || (DoctorControl.pristine && !fm.submitted)) || (DoctorControl.errors && (DoctorControl.dirty || DoctorControl.touched ))">
                      <label>Doctor</label>
                      <select class="form-control form-control-danger" name="DoctorControl" data-live-search="true"
                        (change)="selectDoctorName()" required [(ngModel)]="opdDoctor.doctorId" #DoctorControl="ngModel"
                        tabindex="-1" aria-hidden="true">
                        <option *ngFor="let doctor of withoutFilterDoctors" [value]="doctor.id">{{doctor.applicationUserDoctorName}}</option>
                      </select>
                      <div [hidden]="DoctorControl.valid || (DoctorControl.pristine && !fm.submitted) && ((DoctorControl.errors && (DoctorControl.dirty || DoctorControl.touched )) == false)"
                        class="form-control-feedback">
                        <div [hidden]="!DoctorControl.errors?.required" class="form-control-feedback">
                          Error: Please Enter Type
                        </div>
                        <div [hidden]="!DoctorControl.errors?.pattern" class="form-control-feedback">
                          Error: Alphabets Only
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 col-md-8">
                    <div class="form-group" [class.has-error]="!(CategoryControl.valid || (CategoryControl.pristine && !fm.submitted)) || (CategoryControl.errors && (CategoryControl.dirty || CategoryControl.touched ))">
                      <label>Category</label>
                      <select class="form-control form-control-danger" name="CategoryControl" (change)="selectDoctorCategoryName()"
                        data-live-search="true" required [(ngModel)]="opdDoctor.doctorCategoryId" #CategoryControl="ngModel"
                        tabindex="-1" aria-hidden="true">
                        <option *ngFor="let docCategory of OPDType" [value]="docCategory.id">{{docCategory.name}}</option>
                      </select>
                      <div [hidden]="CategoryControl.valid || (CategoryControl.pristine && !fm.submitted) && ((CategoryControl.errors && (CategoryControl.dirty || CategoryControl.touched )) == false)"
                        class="form-control-feedback">
                        <div [hidden]="!CategoryControl.errors?.required" class="form-control-feedback">
                          Error: Please Enter Type
                        </div>
                        <div [hidden]="!CategoryControl.errors?.pattern" class="form-control-feedback">
                          Error: Alphabets Only
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="col-lg-8 col-md-8">
                    <div class="form-group" [class.has-error]="!(DurationTime.valid || (DurationTime.pristine && !fm.submitted)) || (DurationTime.errors && (DurationTime.dirty || DurationTime.touched ))">
                      <label>Duration Time</label>
                      <input id="DocCategory" name="DurationTime" class="form-control" type="text" placeholder="Doctor Category"
                        #DurationTime="ngModel" [(ngModel)]="opdDoctor.durationInMinutes" required>
                      <div [hidden]="DurationTime.valid || (DurationTime.pristine && !fm.submitted) && ((DurationTime.errors && (DurationTime.dirty || DurationTime.touched )) == false)"
                        class="form-control-feedback">
                        <div [hidden]="!DurationTime.errors?.required" class="form-control-feedback">
                          Error: Please Enter Category
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 col-md-8">
                    <div class="form-group" [class.has-error]="!(StartTime.valid || (StartTime.pristine && !fm.submitted)) || (StartTime.errors && (StartTime.dirty || StartTime.touched ))">
                      <label>Start Time</label>
                      <input type="time" name="startTime" class="form-control" required #StartTime="ngModel"
                        [(ngModel)]="opdDoctor.startTime">
                      <div [hidden]="StartTime.valid || (StartTime.pristine && !fm.submitted) && ((StartTime.errors && (StartTime.dirty || StartTime.touched )) == false)"
                        class="form-control-feedback">
                        <div [hidden]="!StartTime.errors?.required" class="form-control-feedback">
                          Error: Please Enter Category
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8 col-md-8">
                    <div class="form-group" [class.has-error]="!(EndTime.valid || (EndTime.pristine && !fm.submitted)) || (EndTime.errors && (EndTime.dirty || DurationTime.touched ))">
                      <label>End Time</label>
                      <input type="time" name="endTime" class="form-control" required #EndTime="ngModel" [(ngModel)]="opdDoctor.endTime">
                      <div [hidden]="EndTime.valid || (EndTime.pristine && !fm.submitted) && ((EndTime.errors && (EndTime.dirty || EndTime.touched )) == false)"
                        class="form-control-feedback">
                        <div [hidden]="!EndTime.errors?.required" class="form-control-feedback">
                          Error: Please Enter Category
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 col-md-8">
                    <!-- <div class="form-group" [class.has-error]="!(WeeksControl.valid || (WeeksControl.pristine && !fm.submitted)) || (WeeksControl.errors && (WeeksControl.dirty || WeeksControl.touched ))">
                      <label>Weeks</label>
                      <ng-select [items]="Weeks" [multiple]="true" [closeOnSelect]="false" [searchable]="false"
                        bindLabel="number"  #WeeksControl="ngModel" placeholder="Select Weeks" [(ngModel)]="selectedWeeks" name="WeeksControl"
                        required #WeeksControl="ngModel">
                      </ng-select>
                      <div [hidden]="WeeksControl.valid || (WeeksControl.pristine && !fm.submitted) && ((WeeksControl.errors && (WeeksControl.dirty || WeeksControl.touched )) == false)"
                        class="form-control-feedback">
                        <div [hidden]="!WeeksControl.errors?.required" class="form-control-feedback">
                          Error: Please Enter Days
                        </div>
                        <div [hidden]="!WeeksControl.errors?.pattern" class="form-control-feedback">
                          Error: Alphabets Only
                        </div>
                      </div>

                    </div> -->
                  </div>

                  <div class="col-lg-8 col-md-8">
                    <!-- <div class="form-group" [class.has-error]="!(DayControl.valid || (DayControl.pristine && !fm.submitted)) || (DayControl.errors && (DayControl.dirty || DayControl.touched ))">
                      <label>Days</label>
                      <ng-select [items]="Days" [multiple]="true" [closeOnSelect]="false" [searchable]="false"
                        bindLabel="name"  #DayControl="ngModel" placeholder="Select Days" [(ngModel)]="selectedDays" name="DaysControl"
                        required #DaysControl="ngModel">
                      </ng-select>
                      
                      <div [hidden]="DayControl.valid || (DayControl.pristine && !fm.submitted) && ((DayControl.errors && (DayControl.dirty || DayControl.touched )) == false)"
                        class="form-control-feedback">
                        <div [hidden]="!DayControl.errors?.required" class="form-control-feedback">
                          Error: Please Enter Days
                        </div>
                        <div [hidden]="!DayControl.errors?.pattern" class="form-control-feedback">
                          Error: Alphabets Only
                        </div>
                      </div>

                    </div> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 col-md-8">
                    <div class="form-group" [class.has-error]="!(Room.valid || (Room.pristine && !fm.submitted)) || (Room.errors && (Room.dirty || Room.touched ))">
                      <label>Room</label>
                      <select class="form-control form-control-danger" name="Room" data-live-search="true" (change)="selectRoomName()"
                        required [(ngModel)]="opdDoctor.roomId" #Room="ngModel" tabindex="-1" aria-hidden="true">
                        <option *ngFor="let room of allRooms" [value]="room.id">{{room.name}}</option>
                      </select>
                      <div [hidden]="Room.valid || (Room.pristine && !fm.submitted) && ((Room.errors && (Room.dirty || Room.touched )) == false)"
                        class="form-control-feedback">
                        <div [hidden]="!Room.errors?.required" class="form-control-feedback">
                          Error: Please Enter Type
                        </div>
                        <div [hidden]="!Room.errors?.pattern" class="form-control-feedback">
                          Error: Alphabets Only
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="col-lg-8 col-md-8">
                    <div class="form-group ">
                      <label>Status</label>
                      <div class="can-toggle can-toggle--size-small">
                        <input id="b" name="b" type="checkbox" [(ngModel)]="opdDoctor.status">
                        <label for="b">
                          <div class="can-toggle__switch" data-checked="✔" data-unchecked="x"></div>
                          <div class="can-toggle__label-text">{{opdDoctor.status? "Active":"In-Active"}}</div>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 col-md-8">
                    <div class="form-group" [class.has-error]="!(Fees.valid || (Fees.pristine && !fm.submitted)) || (Fees.errors && (Fees.dirty || Fees.touched ))">
                      <label>Fees</label>
                      <input id="DocCategory" name="Fees" class="form-control" type="number" placeholder="Enter Fee of OPD"
                        #Fees="ngModel" [(ngModel)]="opdDoctor.fee" required>
                      <div [hidden]="Fees.valid || (Fees.pristine && !fm.submitted) && ((Fees.errors && (Fees.dirty || Fees.touched )) == false)"
                        class="form-control-feedback">
                        <div [hidden]="!Fees.errors?.required" class="form-control-feedback">
                          Error: Please Enter Category
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8 col-md-8">
                    <div class="form-group">
                        <br><br>
                      <!-- <nz-radio-group name="abc" [(ngModel)]="radioValue" (ngModelChange)="changeDateSelection()" [nzButtonStyle]="'solid'">
                        <label nz-radio-button nzValue="true">Select Doctor Regular</label>
                        <label nz-radio-button nzValue="false">Select Doctor Special</label>
                      </nz-radio-group> -->
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-16 col-sm-16">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"> <button class="nav-link active" name="s" (click)="emptyArray(true)"  data-toggle="tab" href="#doctorRegular" role="tab" >Select Doctor Regular</button> </li>
                    <li class="nav-item"> <button class="nav-link" name="y" (click)="emptyArray(false)" data-toggle="tab" href="#doctorSpecial" role="tab" >Select Doctor Special</button> </li>
                  </ul>
                
                <div class="tab-content row">
                <div class="row tab-pane active" id="doctorRegular" role="tabpanel">
                
                  <div class="col-lg-8 col-md-8">
                    <div class="form-group" >
                      <label>Select Start Month</label>
                      <!-- <input id="DocCategory" name="Fees" class="form-control" type="number" placeholder="Enter Fee of OPD"
                          #Fees="ngModel" [(ngModel)]="startMonth" required> -->
                      <nz-range-picker [nzDisabledDate]="disabledDate" name="range" nzFormat="yyyy-MM-dd" [(ngModel)]="dateRange"
                        (ngModelChange)="onChange($event)"></nz-range-picker>
                   
                    </div>

                  </div>
                  <div class="col-lg-8 col-md-8">
                    <nz-table [nzShowPagination]="false" #rowSelectionTable [nzData]="data">
                      <thead>
                        <tr>
                          <th></th>
                          <th>S</th>
                          <th>M</th>
                          <th>T</th>
                          <th>W</th>
                          <th>T</th>
                          <th>F</th>
                          <th>S</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of rowSelectionTable.data; let i = index;">
                          <td>{{i + 1}}</td>
                          <td *ngFor="let td of Teedeez; let j = index;">
                            <input type="checkbox" (change)="selectDays(i + 1, j , startMonth, endMonth)">
                          </td>
                          <!-- <td (click)="selectDays(i + 1, 2, startMonth, endMonth)" nzShowCheckbox></td>
                            <td (click)="selectDays(i + 1, 3, startMonth, endMonth)" nzShowCheckbox></td>
                            <td (click)="selectDays(i + 1, 4, startMonth, endMonth)" nzShowCheckbox></td>
                            <td (click)="selectDays(i + 1, 5, startMonth, endMonth)" nzShowCheckbox></td>
                            <td  (click)="selectDays(i + 1, 6, startMonth, endMonth)" nzShowCheckbox></td>
                            <td  (click)="selectDays(i + 1, 0, startMonth, endMonth)" nzShowCheckbox></td> -->
                          <!-- <td nzShowCheckbox [(nzChecked)]="data.checked" [nzDisabled]="data.disabled" (nzCheckedChange)="refreshStatus()"></td> -->
                          <!-- <td>{{data.name}}</td>
        <td>{{data.age}}</td>
        <td>{{data.address}}</td> -->
                        </tr>
                      </tbody>
                    </nz-table>
                  </div>
              
                </div>
                <div class="row tab-pane" id="doctorSpecial" role="tabpanel">
                  
                    <!-- owl date picker -->
                    <div class="col-lg-16 col-sm-16">
                        <label  class="">Select TimeSlot</label>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <!-- <button class="btn btn-outline-info" (click)="showModal('isCalendarVisible')">Select Special Doctor Days</button> -->
                        <app-owl-date-picker (sendDates)="getDates($event)"> </app-owl-date-picker>
                        <nz-modal [nzWidth]="789" [(nzVisible)]="isCalendarVisible" [nzTitle]="modalTitle" [nzContent]="calendarContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel('isCalendarVisible')">
                            <ng-template #modalTitle class="search-ng-template">
                              Select Time Slot
                            </ng-template>
                            <ng-template  #calendarContent>
                                <!-- <nz-date-picker
                                nzFormat="yyyy-MM-dd"
                                [nzDisabledDate]="disabledDate"
                                >
                              </nz-date-picker> -->
                           
                             
                            </ng-template>
                            <ng-template style="display: none;" #modalFooter>
                            <!-- <button nz-button nzType="default" (click)="Print(modalContent.value)">Print</button> 
                              <button nz-button nzType="default" (click)="handleCancel()">Close</button>
                              <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Edit Patient</button> -->
                            </ng-template>
                          </nz-modal>
                      </div>
                 
                </div>
                </div>
              </div>
              </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="col text-right">
                <div class="btn-group pull-right">
                  <button class="btn btn-primary" (click)="save()"><span class="text">Save</span> <i class="fa fa-save"></i></button>
                </div>
                <div class="btn-group pull-right">
                  <pre> </pre>
                </div>
                <div class="btn-group pull-right">

                  <button class="btn btn-secondary" type="reset" value="Reset" (click)="Reset()"><span class="text">Reset</span>
                    <i class="fa fa-refresh"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="card">

        <div class="card-header">
          <div class="row">
            <div class="col-sm-3">
              <h5 class="pull-left mr-2">Manage Doctors</h5>
            </div>


            <div class="col-lg-13">
              <div class="row">


                <div class="col-16">
                  <div class="input-daterange form-inline pull-right" id="destination">
                    <label style="color: black;">
                      Choose Range &nbsp;
                      <i class="fa fa-calendar"></i> &nbsp;</label>

                    <input class="form-control CalenderWidth" bsDaterangepicker [(ngModel)]="bsRangeValue" type="text">
                    <button type="button" class="btn btn-outline-primary" (click)="ResetTable()">Reset
                      <i class="fa fa-refresh"></i>
                    </button>


                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <!-- Table Start -->
          <div class="table-responsive" style="overflow: auto; padding-top: 2px;">
            <table id="example" class="table table-hover dataTable no-footer dtr-inline">
              <thead>
                <tr>
                  <th>SNo.</th>
                  <th>Name </th>
                  <th>Description</th>
                  <th>IsVital</th>
                  <th class="not-export-col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of AllOPDs | reverse;let i = index">
                  <td>{{i+1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.description}}</td>
                  <td>
                    <span [class]="item.status == 1? 'status success':'status danger'" style="width:60px !important">{{item.isVital
                      == 1? "Vital":"No-Vital" }}</span>
                  </td>
                  <td>
                    <span style="display: inline">
                      <a class=" btn btn-link btn-sm " title="Delete" [id]="item.id" (click)="modal.ShowModal(item.id)">
                        <i class="fa fa-trash-o ">
                        </i>
                      </a>
                      <a class="btn btn-link btn-sm" title="Edit" (click)="$event.stopPropagation();EditRecord(item.id,target)">
                        <i class="fa fa-pencil-square-o "></i>
                      </a>
                    </span>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>SNo</th>
                  <th>User</th>
                  <th>Email</th>
                  <th>Project</th>
                  <th>status</th>

                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.table-end -->


        </div>
      </div>
    </div>
  </div>
</div>
<app-delete-modal #modal (IsDelete)="DeleteData($event)"></app-delete-modal>