<div class="container">
  <div class="row  align-items-center justify-content-between">
    <div class="col-11 col-sm-12 page-title">
      <h3>OPD Dashboard</h3>

    </div>
    <div class="col text-right ">
      <div class="btn-group pull-right">
        <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker">
          <span class="text">Customize</span>
          <i class="fa fa-cogs ml-2"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-lg-8 col-xl-4">
      <div class="activity-block success">
        <div class="media">
          <div class="media-body">
            <h5>
              <span class="spincreament">Total Appointment</span>
            </h5>
            <h3>
              <span class="spincreament">50</span>
            </h3>
          </div>
          <i class="fa fa-wheelchair"></i>
        </div>
        <div class="row">
          <div class="media">
            <div class="media-body">
              <a href="#" style="margin-left: 166px">View Details</a>
            </div>
          </div>
        </div>
        <i class="bg-icon text-center fa fa-wheelchair"></i>
      </div>
    </div>
    <div class="col-md-8 col-lg-8 col-xl-4">
      <div class="activity-block danger">
        <div class="media">
          <div class="media-body">
            <h5>
              <span class="spincreament">Todays Appointment</span>
            </h5>
            <h3>
              <span class="spincreament">20</span>
            </h3>
          </div>
          <i class="fa fa-users"></i>
        </div>
        <div class="row">
          <div class="media">
            <div class="media-body">
              <a href="#" title="Details" style="margin-left: 166px">View Details</a>
            </div>
          </div>
        </div>
        <i class="bg-icon text-center fa fa-users"></i>
      </div>
    </div>
    <div class="col-md-8 col-lg-8 col-xl-8">
      <!-- <div class="card"> -->
      <!-- <div class="card-header"> -->
      <!-- <div class="cardtitle"><p>Special clinics</p></div> -->
      <!-- </div> -->
      <!-- <div class="card-body"> -->
      <div class="flexslider">
        <ul class="slides">
          <li class="">
            <div class="activity-block">
              <div class="media">
                <div class="media-body">
                  <h5>Dr.Omer</h5>
                  <p>Room#9</p>
                </div>
                <i class="fa fa-star-o text-warning  mt-0"></i>
              </div>
              <div class="media">
                <div class="media-body">8:00am-9:00am
                  <pre style="overflow: hidden;">Mon-Fri</pre>
                </div>
              </div>
            </div>
          </li>
          <li class="">
            <div class="activity-block">
              <div class="media">
                <div class="media-body">
                  <h5>Dr.Nauman</h5>
                  <p>Room#19</p>
                </div>
                <i class="fa fa-star-o text-warning  mt-0"></i>
              </div>
              <div class="media">
                <div class="media-body">7:00am-9:00am
                  <pre style="overflow: hidden;">Mon-Fri</pre>
                </div>
              </div>
            </div>
          </li>
          <li class="">
            <div class="activity-block">
              <div class="media">
                <div class="media-body">
                  <h5>Dr.Ahsan</h5>
                  <p>Room#20</p>
                </div>
                <i class="fa fa-star-o text-warning  mt-0"></i>
              </div>
              <div class="media">
                <div class="media-body">7:00am-9:00am
                  <pre style="overflow: hidden;">Mon-Fri</pre>
                </div>
              </div>
            </div>
          </li>
          <li class="">
            <div class="activity-block">
              <div class="media">
                <div class="media-body">
                  <h5>Dr.Usman</h5>
                  <p>Room#7</p>
                </div>
                <i class="fa fa-star text-warning mt-0"></i>
              </div>

              <div class="media">
                <div class="media-body">2:00am-10:00am
                  <pre style="overflow: hidden;">Mon-Fri</pre>
                </div>
              </div>
            </div>
          </li>
          <li class="">
            <div class="activity-block">
              <div class="media">
                <div class="media-body">
                  <h5>Dr.Ali </h5>
                  <p>Room#5</p>
                </div>
                <i class="fa fa-star-o text-warning  mt-0"></i>
              </div>

              <div class="media">
                <div class="media-body">10:00am-10:00pm
                  <pre style="overflow: hidden;">Mon-Fri</pre>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- </div> -->
    </div>

    <!-- <div class="flexslider">
        <ul class=" slides">
          <li class="" style="width: 240px;">
            <div class="activity-block">
              <div class="media">
                <div class="media-body">
                  <p>Zeee TV</p>
                  <br>
                  <h5>Plan of the Day</h5>
                  <p>5 Jan 2017</p>
                </div>
                <i class="fa fa-star-o text-warning  mt-0"></i>
              </div>
              <br>
              <br>
              <div class="media">
                <div class="media-body">8:00am-9:00am</div>
                <span>Mon-Fri </span>
              </div>
            </div>
          </li>
          <li class="" style="width: 240px;">
            <div class="activity-block">
              <div class="media">
                <div class="media-body">
                  <p>Jioo TV</p>
                  <br>
                  <h5>Made my Day</h5>
                  <p>5 Jan 2017</p>
                </div>
                <i class="fa fa-star text-warning mt-0"></i>
              </div>
              <br>
              <br>
              <div class="media">
                <div class="media-body">8:00am-9:00am</div>
                <span>Mon-Fri </span>
              </div>
            </div>
          </li>
          <li class="" style="width: 240px;">
            <div class="activity-block">
              <div class="media">
                <div class="media-body">
                  <p>Zeee TV</p>
                  <br>
                  <h5>Plan of the Day</h5>
                  <p>5 Jan 2017</p>
                </div>
                <i class="fa fa-star-o text-warning  mt-0"></i>
              </div>
              <br>
              <br>
              <div class="media">
                <div class="media-body">8:00am-9:00am</div>
                <span>Mon-Fri </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
       -->

  </div>
  <div class="row">

    <div class="col-lg-16">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Doctors On Duty</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="list-unstyled member-list row" style="height:325px; overflow-y:auto; color:black;">
                <div class="col-lg-5 " (click)="ShowERInput =! ShowERInput">
                  <div class="media flex-column">
                    <span class="message_userpic large">
                      <img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image">
                      <span class="user-status bg-success "></span>
                    </span>
                    <div class="media-body">
                      <h6 class="mt-0 mb-1">Rocky Jolly</h6>
                      New Jersey, UK
                      <br>
                      <br>
                      <div class="row text-white followers">
                        <div class="col ">
                          <h4>Mon-Fri
                            <br>
                            <small>10am-8pm</small>
                          </h4>
                        </div>
                        <div class="col ">
                          <h4>
                            <button class="btn btn-success"> Appoint</button>
                            <br>
                            <small>
                              <a href="">View Details</a>
                            </small>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="media flex-column MousePointer" [title]="selected? 'cancel':'Select a Doctor'" [ngClass]="{'selectedCard': selected}"> 
                    <div class="overlay" style="display: flex;" (click)="appoint()"></div>
                    <div *ngIf="selected"  style="display: flex; position: absolute">
                      <button  class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                    </div> 
                    <span class="message_userpic large">
                      <img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image">
                      <span class="user-status bg-success "></span>
                    </span>
                    <div class="media-body">
                      <h6 class="mt-0 mb-1">Rocky Jollyasdasdas</h6>
                      New Jersey, UK
                      <br>
                      <br>
                      <div class="row text-white followers">
                        <div class="col ">
                          <h4>Mon-Fri
                            <br>
                            <small>10am-8pm</small>
                          </h4>
                        </div>
                        <div class="col ">
                          <h4>
                            <button class="btn btn-success" > Appoint</button>
                            <br>
                            <small>
                              <a href="">View Details</a>
                            </small>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 ">
                  <div class="media flex-column" >
                    <!-- <div class="overlay align-items-end" >
                      <button class="btn btn-success btn-round mr-2" *ngIf="!selected1" (click)="appoint1()"><i class="fa fa-check"></i></button>
                      <button class="btn btn-danger mr-2 btn-round "*ngIf="selected1"  ><i class="fa fa-close"></i></button>
                    </div> -->
                    <span class="message_userpic large">
                      <img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image">
                      <span class="user-status bg-success "></span>
                    </span>
                    <div class="media-body">
                      <h6 class="mt-0 mb-1">Rocky Jolly</h6>
                      New Jersey, UK
                      <br>
                      <br>
                      <div class="row text-white followers">
                        <div class="col ">
                          <h4>Mon-Fri
                            <br>
                            <small>10am-8pm</small>
                          </h4>
                        </div>
                        <div class="col ">
                          <h4>
                            <button class="btn btn-success"> Appoint</button>
                            <br>
                            <small>
                              <a href="">View Details</a>
                            </small>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 ">
                  <div class="media flex-column">
                    <span class="message_userpic large">
                      <img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image">
                      <span class="user-status bg-success "></span>
                    </span>
                    <div class="media-body">
                      <h6 class="mt-0 mb-1">Rocky Jollys</h6>
                      New Jersey, UK
                      <br>
                      <br>
                      <div class="row text-white followers">
                        <div class="col ">
                          <h4>Mon-Fri
                            <br>
                            <small>10am-8pm</small>
                          </h4>
                        </div>
                        <div class="col ">
                          <h4>
                            <button class="btn btn-success"> Appoint</button>
                            <br>
                            <small>
                              <a href="">View Details</a>
                            </small>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 ">
                  <div class="media flex-column">
                    <span class="message_userpic large">
                      <img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image">
                      <span class="user-status bg-success "></span>
                    </span>
                    <div class="media-body">
                      <h6 class="mt-0 mb-1">Rocky Jolly</h6>
                      New Jersey, UK
                      <br>
                      <br>
                      <div class="row text-white followers">
                        <div class="col ">
                          <h4>Mon-Fri
                            <br>
                            <small>10am-8pm</small>
                          </h4>
                        </div>
                        <div class="col ">
                          <h4>
                            <button class="btn btn-success"> Appoint</button>
                            <br>
                            <small>
                              <a href="">View Details</a>
                            </small>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 ">
                  <div class="media flex-column">
                    <span class="message_userpic large">
                      <img class="d-flex mr-3" src="assets/img/team.png" alt="Generic user image">
                      <span class="user-status bg-success "></span>
                    </span>
                    <div class="media-body">
                      <h6 class="mt-0 mb-1">Rocky Jolly</h6>
                      New Jersey, UK
                      <br>
                      <br>
                      <div class="row text-white followers">
                        <div class="col ">
                          <h4>Mon-Fri
                            <br>
                            <small>10am-8pm</small>
                          </h4>
                        </div>
                        <div class="col ">
                          <h4>
                            <button class="btn btn-success"> Appoint</button>
                            <br>
                            <small>
                              <a href="">View Details</a>
                            </small>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="col">
                <div class="form-group row">
                  <label for="example-text-input" class="col-6 col-form-label">Name</label>
                  <div class="col-10">
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="example-search-input" class="col-6 col-form-label">Id</label>
                  <div class="col-10">
                    <input class="form-control" type="search" value="specialization" id="example-search-input">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="example-email-input" class="col-6 col-form-label">Category</label>
                  <div class="col-10">
                    <input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="example-url-input" class="col-6 col-form-label">URL</label>
                  <div class="col-10">
                    <input class="form-control" type="url" value="https://getbootstrap.com" id="example-url-input">
                  </div>
                </div>
                <div class="row  align-items-center justify-content-between">
                  <div class="col-md-16">
                    <button class="btn btn-success">Search</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- seperation -->
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title  pull-left">Total Income</h5>
        </div>
        <div class="card-body">
          <div style="display: block">
            <canvas baseChart height="125" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
              [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
        <div class="card-footer"> </div>
      </div>
    </div>
  </div>
  <!-- seperator -->
</div>