.ant-modal-header {
    background: #6c757d!important;
    height: 50px;
    padding: -2px 21px;
    border-radius: 4px 4px 0 0;
    background: #fff;
    color: rgba(0,0,0,.65);
    border-bottom: 1px solid #e8e8e8;
}
.margin-left-15 {
    margin-left: 15% !important;
}

.border-lightgray {
    border: 1px solid #d3d3d3d1;
    border-radius: 4px;
}
.button-color {
    background-color: #6c8bef;
    color: white
}
.space {
    padding-left: 5px;
}