<!-- <app-top-nav></app-top-nav>
<app-sidebar-cmp></app-sidebar-cmp> -->
<!-- <section>
	<div class="row">
		<div class="col-lg-16">
			<div class="row"> -->
				<!-- <div class="col-lg-1">

				</div> -->
				<!-- <div class="col-lg-16">
						<router-outlet></router-outlet>
				</div> -->
				<!-- <div class="col-lg-1">

				</div> -->
			<!-- </div>
		</div> -->
	
	<!-- </div> -->
	<!-- <app-footer></app-footer> -->
<!-- </section> -->
<!-- <app-rightsidebar-cmp></app-rightsidebar-cmp> -->
<!-- <div [hidden]="loading">
	<h2>LOADING....</h2>
</div> -->
<!-- <ng4-loading-spinner> </ng4-loading-spinner> -->
<router-outlet></router-outlet>
<ng-http-loader backgroundColor="#252d47" spinner="sk-wave"></ng-http-loader>